@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff9ea;
}
header {
    width: 100%;
    padding: 28px 8%;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navlogo {
    font-size: 1.5rem;
    font-weight: 600;
    color: #e9a209;
}

.navlista {
    display: flex;
    list-style: none;
    gap: 40px;

}

.navitem a {
    text-decoration: none;
    color: #1d1d1dad;
    font-size: 1.2rem;
    font-weight: 600;

}

.navitem a:hover {
    color: #ffe100;
}

.navitem.ativo {
    color: #1d1d1d;
    border-bottom: 3px solid #ffe100;
}

.btn-celular {
    display: none;
}

.navcelular {
    display: none;
}

@media (max-width: 768px) {
    .navlista, .navbar .btn-pedido {
        display: none;
    }

    .btn-celular {
        display: block;
        border: none;
        background-color: transparent;
        font-size: 1.5rem;
        color: #e9a209;
        cursor: pointer;
    }
}

.navcelular.ativo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.celularnavlista {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 12px 0;

}

.celularnavlista .navitem {
    list-style: none;
    align-items: center;
}