#home {
    display: flex;
    min-height: calc(100vh - 91px);
}

.inicial {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-top: 5%;
}

.inicial .titulo {
    font-size: 4rem;
    color: #1d1d1d;
}

.inicial .titulo span {
    color: #ffcb45;
}
