#home {
    display: flex;
    min-height: calc(100vh - 91px);
}

.inicial {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-top: 5%;
}

.inicial .titulo {
    font-size: 4rem;
    color: #fffafa;
}

.inicial .titulo span {
    color: #3C096C;
}

.descricao {
    color: #fff;
}


   #banner {
    display: flex;
    justify-content: end;
    align-items: end;
    width: 70%;
   }

   #banner img {
    width: fit-content;
    height: 70%;
    margin-bottom: 150px;
   }