:root{
    --cor-primaria-1:#C77DFF;
    --cor-primaria-2:#9D4EDD;
    --cor-primaria-3:#7B2CBF;
    --cor-primaria-4:#5A189A;
    --cor-primaria-5:#3C096C;

    --cor-neutra-1:#fff;
    --cor-neutra-2:#1d1d1d;

    --cor-whatsapp-0: #054e11;
    --cor-whatsapp-0: #09801b;
}









body {
    background-color: var(--cor-primaria-3);
}

section {
    padding: 10px 8%;
    
}

.btn-pedido {
    text-decoration: none;
    color: var(--cor-primaria-4);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 12px;
    padding: 10px 14px;
    font-weight: 600;
    box-shadow: 0px 0px 10px 2px #ffffff;
    transition: background-color 0.3s ease;
}

.btn-pedido:hover {
    background-color: #e4eaf5;
}

.social_btn {
    display: flex;
    gap: 18px;
}

.social_btn a {
    display: flex;
    text-decoration: none;
    color: var(--cor-neutra-1);
    font-size: 1.5rem;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.social_btn a:hover {
    box-shadow: 0px 0px 12px 8px rgba(0, 0, 0, 0.2);
}

.section_titulo {
    color: var(--cor-primaria-4);
    font-size: 1.6rem;
}

.section_subtitulo {
    font-size: 2.2rem;
}


