body {
    background-color: #fff9ea;
}

section {
    padding: 28px 8%;
    
}

.btn-pedido {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffcb45;
    border-radius: 12px;
    padding: 10px 14px;
    font-weight: 600;
    box-shadow: 0px 0px 10px 2px #000000;
    transition: background-color 0.3s ease;
}

.btn-pedido:hover {
    background-color: #ffe100;
}
