:root{
    --cor-primaria-1:#C77DFF;
    --cor-primaria-2:#9D4EDD;
    --cor-primaria-3:#7B2CBF;
    --cor-primaria-4:#5A189A;
    --cor-primaria-5:#3C096C;

    --cor-neutra-1:#fff;
    --cor-neutra-2:#1d1d1d;
}









body {
    background-color: var(--cor-primaria-3);
}

section {
    padding: 28px 8%;
    
}

.btn-pedido {
    text-decoration: none;
    color: var(--cor-primaria-4);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 12px;
    padding: 10px 14px;
    font-weight: 600;
    box-shadow: 0px 0px 10px 2px #ffffff;
    transition: background-color 0.3s ease;
}

.btn-pedido:hover {
    background-color: #e4eaf5;
}
